<header class='container-fluid sticky-top' style="background-color: #1e082b;">
    <div  class=" navlg d-flex align-items-center justify-content-between">

      <a href="index.html" class="px-1 mb-0 h1 navbar-brand text-secondary">Bincom_ICT_Solutions-zubegpro</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
       </button>
      <nav id="navbar" class="navbar navbar-expand-sm text-white">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link active" href="{% url 'home'%}">Home</a></li>
          <li class="nav-item"><a class="nav-link " href="{% url 'answer' %}" >My Response/ Answer</a></li>
          <li class="nav-item"><a class="nav-link scrollto" href="#services">About Me</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
</header>